asgiref
certifi
charset-normalizer
cloudinary
dj-database-url
Django
django-ckeditor
django-cloudinary-storage
django-js-asset
djangorestframework
gunicorn
idna
packaging
pillow
psycopg2-binary
python-decouple
requests
six
sqlparse
tzdata
urllib3
whitenoise
